In [1]:
! pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp311-cp311-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.3.0-cp311-cp311-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
! pip install unicode

Collecting unicode
  Downloading unicode-2.9-py2.py3-none-any.whl.metadata (1.1 kB)
Downloading unicode-2.9-py2.py3-none-any.whl (14 kB)
Installing collected packages: unicode
Successfully installed unicode-2.9

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
! pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import numpy as np
import pandas as pd
import pyodbc

In [2]:
server = "Pranav07\SQLEXPRESS"
database = "ecomdashboard"
driver = "ODBC Driver 17 for SQL Server"

connection_string = (
    f"DRIVER={{{driver}}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)

conn = pyodbc.connect(connection_string)
print("Connection successful!")

Connection successful!

In [3]:
import sqlalchemy
print(sqlalchemy.__version__)
print(pd.__version__)

2.0.46
2.2.3

In [8]:
query = "select * from dbo.olist_customers_dataset"
customers = pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\1793581705.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql(query, conn)

In [10]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP
1,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,35550,itapecerica,MG
2,0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,29830,nova venecia,ES
3,0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,39664,mendonca,MG
4,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP

### olist_customers_dataset

In [11]:
customers.shape

(99441, 5)

In [12]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [13]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP
1,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,35550,itapecerica,MG
2,0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,29830,nova venecia,ES
3,0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,39664,mendonca,MG
4,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP

In [14]:
# capitalizing first alphabet of each word for city.
customers["customer_city"]= customers["customer_city"].str.title()

In [15]:
customers["customer_id"].nunique()

99441

In [16]:
customers["customer_unique_id"].nunique()

96096

In [18]:
sum(customers["customer_id"]==customers["customer_unique_id"])

0

### olist_geolocation_dataset

In [19]:
query="select * from olist_geolocation_dataset"
geo= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\3619535398.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geo= pd.read_sql(query, conn)

In [21]:
geo.shape

(1000163, 5)

In [22]:
geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.54562128115268,-46.63929204800168,sao paulo,SP
1,01046,-23.546081127035535,-46.64482029837157,sao paulo,SP
2,01046,-23.54612896641469,-46.64295148361138,sao paulo,SP
3,01041,-23.5443921648681,-46.63949930627844,sao paulo,SP
4,01035,-23.541577961711493,-46.64160722329613,sao paulo,SP

In [23]:
geo["geolocation_city"]= geo["geolocation_city"].str.title()

In [24]:
geo.duplicated().sum()

261831

In [25]:
geo.drop_duplicates(inplace=True)

In [26]:
# drop latitude and longitude column
geo.drop(columns=["geolocation_lat","geolocation_lng"], inplace=True)

In [27]:
geo.head()

  geolocation_zip_code_prefix geolocation_city geolocation_state
0                       01037        Sao Paulo                SP
1                       01046        Sao Paulo                SP
2                       01046        Sao Paulo                SP
3                       01041        Sao Paulo                SP
4                       01035        Sao Paulo                SP

In [28]:
print(geo["geolocation_city"].nunique())

8011

In [31]:
from unidecode import unidecode

In [32]:
geo["geolocation_city"]= geo["geolocation_city"].apply(lambda x: unidecode(x))

In [33]:
print(geo["geolocation_city"].nunique())

5969

In [34]:
def contains_number(s):
    return any(i.isdigit() for i in  str(s))

In [35]:
geo[geo["geolocation_city"].apply(contains_number)]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
377210,17970,Sao Joao Do Pau D%26Apos%3Balho,SP
538905,29735,Quilometro 14 Do Mutum,ES
539470,29735,Quilometro 14 Do Mutum,ES
726758,57010,Maceia3,AL
786179,71880,Riacho Fundo 2,DF
823386,78278,Lambari D%26Apos%3Boeste,MT
896733,87365,4O. Centenario,PR
896977,87365,4o Centenario,PR
897217,87365,4o Centenario,PR
977775,96130,Colonia Z-3,RS
977787,96130,Colonia Z-3,RS
977813,96130,Colonia Z-3,RS

In [36]:
import re

def remove_numbers(s):
    return re.sub(r'\d+','', str(s))

In [37]:
geo["geolocation_city"]= geo["geolocation_city"].apply(remove_numbers)

In [38]:
geo[geo["geolocation_city"].apply(contains_number)]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [39]:
geo[geo["geolocation_zip_code_prefix"]=="17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
376805,17970,Sao Joao Do Pau D'Alho,SP
376827,17970,Sao Joao Do Pau D'Alho,SP
376905,17970,Sao Joao Do Pau D'Alho,SP
376937,17970,Sao Joao Do Pau D Alho,SP
377022,17970,Sao Joao Do Pau D Alho,SP
377073,17970,Sao Joao Do Pau D'Alho,SP
377082,17970,Sao Joao Do Pau D'Alho,SP
377092,17970,Sao Joao Do Pau Dalho,SP
377138,17970,Sao Joao Do Pau D'Alho,SP
377186,17970,Sao Joao Do Pau Dalho,SP
377210,17970,Sao Joao Do Pau D%Apos%Balho,SP
377306,17970,Sao Joao Do Pau D Alho,SP
377324,17970,Sao Joao Do Pau D'Alho,SP
377331,17970,Sao Joao Do Pau D'Alho,SP
377496,17970,Sao Joao Do Pau D'Alho,SP

In [40]:
geo["geolocation_city"]= geo["geolocation_city"].str.replace("'","",regex=False)

In [41]:
geo[geo["geolocation_zip_code_prefix"]=="17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
376805,17970,Sao Joao Do Pau DAlho,SP
376827,17970,Sao Joao Do Pau DAlho,SP
376905,17970,Sao Joao Do Pau DAlho,SP
376937,17970,Sao Joao Do Pau D Alho,SP
377022,17970,Sao Joao Do Pau D Alho,SP
377073,17970,Sao Joao Do Pau DAlho,SP
377082,17970,Sao Joao Do Pau DAlho,SP
377092,17970,Sao Joao Do Pau Dalho,SP
377138,17970,Sao Joao Do Pau DAlho,SP
377186,17970,Sao Joao Do Pau Dalho,SP
377210,17970,Sao Joao Do Pau D%Apos%Balho,SP
377306,17970,Sao Joao Do Pau D Alho,SP
377324,17970,Sao Joao Do Pau DAlho,SP
377331,17970,Sao Joao Do Pau DAlho,SP
377496,17970,Sao Joao Do Pau DAlho,SP

In [42]:
geo.duplicated().sum()

718716

In [43]:
geo.shape

(738332, 3)

In [44]:
geo[geo["geolocation_city"].str.contains("'", na=False)]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [45]:
geo[geo["geolocation_city"].str.startswith("*")]

       geolocation_zip_code_prefix geolocation_city geolocation_state
851430                       81470         * Cidade                PR

In [46]:
geo["geolocation_city"]= geo["geolocation_city"].str.replace("*","", regex=False)

In [47]:
geo[geo["geolocation_city"].str.startswith("*")]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [48]:
geo[geo["geolocation_city"].str.startswith("...")]

       geolocation_zip_code_prefix    geolocation_city geolocation_state
525385                       28930  ...Arraial Do Cabo                RJ

In [49]:
geo["geolocation_city"]= geo["geolocation_city"].str.replace("...",'', regex=False)

In [50]:
geo[geo["geolocation_city"].str.startswith("...")]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [51]:
geo["geolocation_city"].nunique()

5966

In [52]:
geo[geo["geolocation_zip_code_prefix"]=="17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
376805,17970,Sao Joao Do Pau DAlho,SP
376827,17970,Sao Joao Do Pau DAlho,SP
376905,17970,Sao Joao Do Pau DAlho,SP
376937,17970,Sao Joao Do Pau D Alho,SP
377022,17970,Sao Joao Do Pau D Alho,SP
377073,17970,Sao Joao Do Pau DAlho,SP
377082,17970,Sao Joao Do Pau DAlho,SP
377092,17970,Sao Joao Do Pau Dalho,SP
377138,17970,Sao Joao Do Pau DAlho,SP
377186,17970,Sao Joao Do Pau Dalho,SP
377210,17970,Sao Joao Do Pau D%Apos%Balho,SP
377306,17970,Sao Joao Do Pau D Alho,SP
377324,17970,Sao Joao Do Pau DAlho,SP
377331,17970,Sao Joao Do Pau DAlho,SP
377496,17970,Sao Joao Do Pau DAlho,SP

In [53]:
def keep_only_text(x):
    if pd.isna(x):
        return x
    # remove everything except alphabets and spaces
    return re.sub(r"[^A-Za-z\s]", "", str(x)).strip()

In [54]:
geo["geolocation_city"]= geo["geolocation_city"].apply(keep_only_text)

In [55]:
geo[geo["geolocation_zip_code_prefix"]=="17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
376805,17970,Sao Joao Do Pau DAlho,SP
376827,17970,Sao Joao Do Pau DAlho,SP
376905,17970,Sao Joao Do Pau DAlho,SP
376937,17970,Sao Joao Do Pau D Alho,SP
377022,17970,Sao Joao Do Pau D Alho,SP
377073,17970,Sao Joao Do Pau DAlho,SP
377082,17970,Sao Joao Do Pau DAlho,SP
377092,17970,Sao Joao Do Pau Dalho,SP
377138,17970,Sao Joao Do Pau DAlho,SP
377186,17970,Sao Joao Do Pau Dalho,SP
377210,17970,Sao Joao Do Pau DAposBalho,SP
377306,17970,Sao Joao Do Pau D Alho,SP
377324,17970,Sao Joao Do Pau DAlho,SP
377331,17970,Sao Joao Do Pau DAlho,SP
377496,17970,Sao Joao Do Pau DAlho,SP

In [56]:
geo["geolocation_city"]= geo["geolocation_city"].str.replace("Sao Joao Do Pau D Alho","Sao Joao Do Pau DAlho")

In [57]:
geo[geo["geolocation_zip_code_prefix"]=="17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
376805,17970,Sao Joao Do Pau DAlho,SP
376827,17970,Sao Joao Do Pau DAlho,SP
376905,17970,Sao Joao Do Pau DAlho,SP
376937,17970,Sao Joao Do Pau DAlho,SP
377022,17970,Sao Joao Do Pau DAlho,SP
377073,17970,Sao Joao Do Pau DAlho,SP
377082,17970,Sao Joao Do Pau DAlho,SP
377092,17970,Sao Joao Do Pau Dalho,SP
377138,17970,Sao Joao Do Pau DAlho,SP
377186,17970,Sao Joao Do Pau Dalho,SP
377210,17970,Sao Joao Do Pau DAposBalho,SP
377306,17970,Sao Joao Do Pau DAlho,SP
377324,17970,Sao Joao Do Pau DAlho,SP
377331,17970,Sao Joao Do Pau DAlho,SP
377496,17970,Sao Joao Do Pau DAlho,SP

In [58]:
geo.duplicated().sum()

718720

In [59]:
geo.drop_duplicates(inplace=True)

In [60]:
geo["geolocation_city"].nunique()

5962

In [61]:
# PERFORMING THE SAME STEPS FOR CUSTOMER TABLE CITY COLUMN
customers["customer_city"]= customers["customer_city"].apply(lambda x: unidecode(x))
customers["customer_city"]= customers["customer_city"].apply(keep_only_text)

In [62]:
customers.duplicated().sum()

0

### olist_products_dataset

In [63]:
query ="select * from olist_products_dataset"
products= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\3138657782.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products= pd.read_sql(query, conn)

In [65]:
products.shape

(32951, 9)

In [66]:
products.drop(columns=['product_name_lenght',
       'product_description_lenght', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'], inplace=True)

In [67]:
products.head()

                         product_id  product_category_name  product_photos_qty
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 1.0
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                 1.0
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer                 1.0
3  cef67bcfe19066a932b7673e239eb23d                  bebes                 1.0
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 4.0

In [68]:
query = "select * from  product_category_name_translation"
product_name= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\98160967.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_name= pd.read_sql(query, conn)

In [69]:
product_name

                Product Category     Product Category in English
0           product_category_name  product_category_name_english
1                    beleza_saude                  health_beauty
2          informatica_acessorios          computers_accessories
3                      automotivo                           auto
4                 cama_mesa_banho                 bed_bath_table
..                            ...                            ...
67                         flores                        flowers
68             artes_e_artesanato          arts_and_craftmanship
69                fraldas_higiene            diapers_and_hygiene
70  fashion_roupa_infanto_juvenil      fashion_childrens_clothes
71             seguros_e_servicos          security_and_services

[72 rows x 2 columns]

In [70]:
product_name.head()

        Product Category     Product Category in English
0   product_category_name  product_category_name_english
1            beleza_saude                  health_beauty
2  informatica_acessorios          computers_accessories
3              automotivo                           auto
4         cama_mesa_banho                 bed_bath_table

In [71]:
print(products["product_category_name"].nunique())

73

In [74]:
product_name.columns = product_name.iloc[0]

In [75]:
product_name = product_name.drop(index=0).reset_index(drop=True)

In [76]:
product_name.head()

0   product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [77]:
print(product_name["product_category_name"].nunique())

71

In [79]:
# lets find the category that is in product table but not in product_name table
product_name[~product_name["product_category_name"].isin(products["product_category_name"])]

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

In [80]:
products[~products["product_category_name"].isin(product_name["product_category_name"])]["product_category_name"].unique()

array([None, 'pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'],
      dtype=object)

In [82]:
product_name[product_name["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos"]

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

In [83]:
product_name[product_name["product_category_name"]=="pcs"]

0  product_category_name product_category_name_english
53                   pcs                     computers

In [84]:
pd.merge(products,product_name, left_on = "product_category_name", right_on = "product_category_name", how = "left")

,product_id,product_category_name,product_photos_qty,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,housewares
...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0,computers_accessories
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0,bed_bath_table

In [85]:
products = pd.merge(products,product_name, left_on = "product_category_name", right_on = "product_category_name", how = "left")

In [86]:
products.head()

,product_id,product_category_name,product_photos_qty,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,housewares

In [87]:
products[products["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos"]

,product_id,product_category_name,product_photos_qty,product_category_name_english
5821,6fd83eb3e0799b775e4f946bd66657c0,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
7325,5d923ead886c44b86845f69e50520c3e,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
8819,bed164d9d628cf0593003389c535c6e0,portateis_cozinha_e_preparadores_de_alimentos,2.0,NaN
11039,1220978a08a6b29a202bc015b18250e9,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
14266,ae62bb0f95af63d64eae5f93dddea8d3,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
16182,1954739d84629e7323a4295812a3e0ec,portateis_cozinha_e_preparadores_de_alimentos,4.0,NaN
17800,c7a3f1a7f9eef146cc499368b578b884,portateis_cozinha_e_preparadores_de_alimentos,5.0,NaN
18610,7afdd65f79f63819ff5bee328843fa37,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
26890,a4756663d007b0cd1af865754d08d968,portateis_cozinha_e_preparadores_de_alimentos,4.0,NaN
29919,cb9d764f38ee4d0c00af64d5c388f837,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN

In [88]:
products.loc[
(products["product_category_name"] == "portateis_cozinha_e_preparadores_de_alimentos")
& (products["product_category_name_english"].isna()),
"product_category_name_english"
] = "small_appliances_home_oven_and_coffee"

In [89]:
products[products["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos"]

,product_id,product_category_name,product_photos_qty,product_category_name_english
5821,6fd83eb3e0799b775e4f946bd66657c0,portateis_cozinha_e_preparadores_de_alimentos,1.0,small_appliances_home_oven_and_coffee
7325,5d923ead886c44b86845f69e50520c3e,portateis_cozinha_e_preparadores_de_alimentos,1.0,small_appliances_home_oven_and_coffee
8819,bed164d9d628cf0593003389c535c6e0,portateis_cozinha_e_preparadores_de_alimentos,2.0,small_appliances_home_oven_and_coffee
11039,1220978a08a6b29a202bc015b18250e9,portateis_cozinha_e_preparadores_de_alimentos,1.0,small_appliances_home_oven_and_coffee
14266,ae62bb0f95af63d64eae5f93dddea8d3,portateis_cozinha_e_preparadores_de_alimentos,1.0,small_appliances_home_oven_and_coffee
16182,1954739d84629e7323a4295812a3e0ec,portateis_cozinha_e_preparadores_de_alimentos,4.0,small_appliances_home_oven_and_coffee
17800,c7a3f1a7f9eef146cc499368b578b884,portateis_cozinha_e_preparadores_de_alimentos,5.0,small_appliances_home_oven_and_coffee
18610,7afdd65f79f63819ff5bee328843fa37,portateis_cozinha_e_preparadores_de_alimentos,1.0,small_appliances_home_oven_and_coffee
26890,a4756663d007b0cd1af865754d08d968,portateis_cozinha_e_preparadores_de_alimentos,4.0,small_appliances_home_oven_and_coffee
29919,cb9d764f38ee4d0c00af64d5c388f837,portateis_cozinha_e_preparadores_de_alimentos,1.0,small_appliances_home_oven_and_coffee

In [90]:
products[products["product_category_name"]=='pc_gamer']

,product_id,product_category_name,product_photos_qty,product_category_name_english
1628,0105b5323d24fc655f73052694dbbb3a,pc_gamer,4.0,NaN
7478,6727051471a0fc4a0e7737b57bff2549,pc_gamer,3.0,NaN
16930,dbe520fb381ad695a7e1f2807d20c765,pc_gamer,6.0,NaN

In [91]:
products.loc[
(products["product_category_name"] == "pc_gamer")
& (products["product_category_name_english"].isna()),
"product_category_name_english"
] = "computers"

In [92]:
products[products["product_category_name"]=='pc_gamer']

,product_id,product_category_name,product_photos_qty,product_category_name_english
1628,0105b5323d24fc655f73052694dbbb3a,pc_gamer,4.0,computers
7478,6727051471a0fc4a0e7737b57bff2549,pc_gamer,3.0,computers
16930,dbe520fb381ad695a7e1f2807d20c765,pc_gamer,6.0,computers

In [93]:
products.head()

,product_id,product_category_name,product_photos_qty,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,housewares

In [96]:
products["product_category_name_english"].isnull().sum()

610

In [97]:
products["product_category_name"]= products["product_category_name_english"]

In [98]:
products.head()

,product_id,product_category_name,product_photos_qty,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,1.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1.0,art
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,1.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,baby,1.0,baby
4,9dc1a7de274444849c219cff195d0b71,housewares,4.0,housewares

In [100]:
products.drop(columns=["product_category_name_english"],inplace=True)

### olist_sellers_dataset.csv:

In [101]:
query=("select * from olist_sellers_dataset")
seller = pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\1824706530.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  seller = pd.read_sql(query, conn)

In [102]:
seller.shape

(3095, 4)

In [103]:
seller["seller_city"]= seller["seller_city"].str.title()

In [104]:
seller.duplicated().sum()

0

In [105]:
seller[seller["seller_id"].duplicated()]

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [106]:
seller["seller_city"]= seller["seller_city"].apply(keep_only_text)

### olist_orders_dataset.csv

In [142]:
query="select * from olist_orders_dataset"
orders= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\1108411422.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders= pd.read_sql(query, conn)

In [143]:
orders.shape

(99441, 8)

In [144]:
orders["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [110]:
df = orders.copy()

In [112]:
(orders["order_approved_at"]- orders["order_purchase_timestamp"]).dt.total_seconds()/86400>=0

0        True
1        True
2        True
3        True
4        True
         ...
99436    True
99437    True
99438    True
99439    True
99440    True
Length: 99441, dtype: bool

In [113]:
(orders['order_delivered_carrier_date'] - orders['order_approved_at']).dt.days >= 0

0        True
1        True
2        True
3        True
4        True
         ...
99436    True
99437    True
99438    True
99439    True
99440    True
Length: 99441, dtype: bool

In [145]:
date_cols = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]

In [146]:
for c in date_cols:
    orders[c] = pd.to_datetime(orders[c], errors='coerce', infer_datetime_format=True)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\828291808.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders[c] = pd.to_datetime(orders[c], errors='coerce', infer_datetime_format=True)
C:\Users\prana\AppData\Local\Temp\ipykernel_30252\828291808.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders[c] = pd.to_datetime(orders[c], errors='coerce', infer_datetime_format=True)
C:\Users\prana\AppData\Local\Temp\ipykernel_30252\828291808.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders[c] = pd.to_datetime(orders[c], errors='coerce', infer_datetime_format=True)
C:\Users\prana\AppData\Local\Temp\ipykernel_30252\828291808.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders[c] = pd.to_datetime(orders[c], errors='coerce', infer_datetime_format=True)
C:\Users\prana\AppData\Local\Temp\ipykernel_30252\828291808.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders[c] = pd.to_datetime(orders[c], errors='coerce', infer_datetime_format=True)

In [147]:
orders = orders[
    ((orders['order_approved_at'] - orders['order_purchase_timestamp']).dt.total_seconds()/86400 >= 0) &
    ((orders['order_delivered_carrier_date'] - orders['order_approved_at']).dt.days >= 0)
]

In [116]:
orders["order_status"].unique()

array(['delivered', 'shipped', 'canceled'], dtype=object)

In [117]:
orders[(orders["order_status"]=="canceled")& (orders["order_delivered_customer_date"].notna())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
2921,1950d777989f6a877539f53795b4c3c3,1bccb206de9f0f25adc6871a1bcf77b2,canceled,2018-02-19 19:48:52,2018-02-19 20:56:05,2018-02-20 19:57:13,2018-03-21 22:03:51,2018-03-09
8791,dabf2b0e35b423f94618bf965fcb7514,5cdec0bb8cbdf53ffc8fdc212cd247c6,canceled,2016-10-09 00:56:52,2016-10-09 13:36:58,2016-10-13 13:36:59,2016-10-16 14:36:59,2016-11-30
58266,770d331c84e5b214bd9dc70a10b829d0,6c57e6119369185e575b36712766b0ef,canceled,2016-10-07 14:52:30,2016-10-07 15:07:10,2016-10-11 15:07:11,2016-10-14 15:07:11,2016-11-29
59332,8beb59392e21af5eb9547ae1a9938d06,bf609b5741f71697f65ce3852c5d2623,canceled,2016-10-08 20:17:50,2016-10-09 14:34:30,2016-10-14 22:45:26,2016-10-19 18:47:43,2016-11-30
92636,65d1e226dfaeb8cdc42f665422522d14,70fc57eeae292675927697fe03ad3ff5,canceled,2016-10-03 21:01:41,2016-10-04 10:18:57,2016-10-25 12:14:28,2016-11-08 10:58:34,2016-11-25
94399,2c45c33d2f9cb8ff8b1c86cc28c11c30,de4caa97afa80c8eeac2ff4c8da5b72e,canceled,2016-10-09 15:39:56,2016-10-10 10:40:49,2016-10-14 10:40:50,2016-11-09 14:53:50,2016-12-08

In [148]:
to_remove = orders[(orders['order_delivered_customer_date'].notna()) & 
                         (orders["order_status"] == "canceled")].index

In [149]:
orders= orders.drop(to_remove)

In [150]:
orders.duplicated().sum()

0

### olist_order_payments_dataset

In [151]:
query = "select * from olist_order_payments_dataset"
payments= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\3494358041.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments= pd.read_sql(query, conn)

In [152]:
payments.shape

(103886, 5)

In [153]:
payments.drop(columns=["payment_sequential","payment_installments"], inplace=True)

In [154]:
payments= payments.groupby(["order_id","payment_type"]).sum("payment_value").reset_index()

In [155]:
payments.head()

                           order_id payment_type  payment_value
0  00010242fe8c5a6d1ba2dd792cb16214  credit_card      72.190002
1  00018f77f2f0320c557190d7a144bdd3  credit_card     259.829987
2  000229ec398224ef6ca0657da4fc703e  credit_card     216.869995
3  00024acbcdf0a6daa1e931b038114c75  credit_card      25.780001
4  00042b26cf59d7ce69dfabb4e55b4fd9  credit_card     218.039993

In [126]:
payments[payments["order_id"]=="fa65dad1b0e818e3ccc5cb0e39231352"]

                               order_id payment_type  payment_value
99453  fa65dad1b0e818e3ccc5cb0e39231352      voucher     457.989998

In [127]:
payments.shape

(101686, 3)

In [128]:
print(orders["order_id"].nunique())

96279

In [129]:
print(payments["order_id"].nunique())

99440

In [130]:
len(orders[orders["order_status"]=="canceled"])

69

In [131]:
orders[~orders["order_id"].isin(payments["order_id"])]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
30710,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04

In [132]:
payments[~payments["order_id"].isin(orders["order_id"])]["order_id"].nunique()

3162

In [156]:
orders= pd.merge(orders, payments, on="order_id", how="inner")

In [157]:
orders["order_id"].nunique()

96278

### olist_order_items_dataset

In [158]:
query ="select * from olist_order_items_dataset"
olist_items= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\830416410.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  olist_items= pd.read_sql(query, conn)

In [159]:
olist_items.shape

(112650, 7)

In [160]:
print(orders['order_id'].nunique())
print(olist_items['order_id'].nunique())

96278
98666

In [161]:
orders= pd.merge(orders, olist_items, on="order_id", how="left")

In [162]:
orders=  orders[
    (orders["shipping_limit_date"] > orders["order_purchase_timestamp"]) &
    (orders["shipping_limit_date"] > orders["order_approved_at"]) &
    (orders["shipping_limit_date"] < orders["order_delivered_customer_date"])
]

In [163]:
orders.sort_values(by=["order_item_id","order_id"], ascending=False)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
100243,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28,credit_card,196.110001,21.0,79ce45dbc2ea29b22b5a261bbb7b7ee7,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,7.800000,6.570000
106171,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,20.0,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.440000
100242,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28,credit_card,196.110001,20.0,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.200000,7.890000
98129,1b15974a0141d54e36626dca3fdc731a,be1b70680b9f9694d8c70f41fa3dc92b,delivered,2018-02-22 15:30:41,2018-02-24 03:20:27,2018-03-02 00:18:01,2018-03-05 15:22:27,2018-03-08,boleto,2202.399902,20.0,ee3d532c8a438679776d222e997606b3,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-01 02:50:48,100.000000,10.120000
106170,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,19.0,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.440000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111298,00054e8431b9d7675808bcb819fb4a32,32e2e6ab09e778d99bf2e0ecd4898718,delivered,2017-12-10 11:53:48,2017-12-10 12:10:31,2017-12-12 01:07:48,2017-12-18 22:03:38,2018-01-04,credit_card,31.750000,1.0,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.900000,11.850000
5863,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,credit_card,218.039993,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.899994,18.139999
7056,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,credit_card,216.869995,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.000000,17.870001
81125,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,credit_card,259.829987,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.899994,19.930000
96210,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,credit_card,72.190002,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.900002,13.290000

In [164]:
orders.shape

(88002, 16)

In [165]:
 orders.drop(columns="order_item_id", inplace=True)

In [167]:
orders= orders.groupby(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'product_id', 'seller_id',
       'shipping_limit_date']).sum(['price', 'freight_value']).reset_index()

### olist_order_reviews_dataset

In [168]:
query="select * from olist_order_reviews_dataset"
reviews= pd.read_sql(query, conn)

C:\Users\prana\AppData\Local\Temp\ipykernel_30252\2005506932.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  reviews= pd.read_sql(query, conn)

In [169]:
reviews= reviews[reviews["order_id"].isin(orders["order_id"])]

In [170]:
reviews.drop(columns="review_comment_title", inplace=True)

In [171]:
reviews['review_answer_timestamp'] = reviews['review_answer_timestamp'].dt.date

In [172]:
reviews.shape

(75503, 6)

In [173]:
orders.shape

(80156, 15)

In [174]:
customers.drop(columns = "customer_unique_id",inplace=True)

In [175]:
customers.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,00012a2ce6f8dcda20d059ce98491703,6273,Osasco,SP
1,000161a058600d5901f007fab4c27140,35550,Itapecerica,MG
2,0001fd6190edaaf884bcaf3d49edf079,29830,Nova Venecia,ES
3,0002414f95344307404f0ace7a26f1d5,39664,Mendonca,MG
4,000379cdec625522490c315e70c7a9fb,4841,Sao Paulo,SP

In [176]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,credit_card,72.190002,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.900002,13.290000
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,credit_card,259.829987,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.899994,19.930000
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,credit_card,216.869995,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.000000,17.870001
3,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,credit_card,218.039993,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.899994,18.139999
4,00054e8431b9d7675808bcb819fb4a32,32e2e6ab09e778d99bf2e0ecd4898718,delivered,2017-12-10 11:53:48,2017-12-10 12:10:31,2017-12-12 01:07:48,2017-12-18 22:03:38,2018-01-04,credit_card,31.750000,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.900000,11.850000